{% extends "base.html" %}
{% block title%}登录{%endblock%}

  
{% block content %} 

<!--=======content================================--> 

<div class="container " style="margin-top:100px;">

     <div id="sign" class="wrap-login">
    <div class="part login">
        <form action=/login/ method="post" id="login">
         {%csrf_token%}

            <h3>登录</h3>
            <p>
                <label for="username"></label>
                <input type="text" name="username" id="username" class="input-control" placeholder="输入用户名"/>
            </p>
            <p>
                <label for="userpassword"></label>
                <input type="text" name="password" id="password" class="input-control" placeholder="请输入密码"/>
            </p>
            <p>
                <input type="submit" id="submit" name="login" class="submit" value="登录"/>
            </p>
            <a class="close">
                <i class="fa fa-times"></i>
            </a>
        </form>
    </div>
    </div>
</div>


{% endblock%}