{% extends "base.html" %}
{% block title%}contact BigKola{%endblock%}

  
{% block content %} 

<!--=======content================================--> 

<script>
$(document).ready(function(){
	
  $("#registerlink").click(function(e){	 
  var url = $('#registerlink').attr('href','/register/');
	 window.open(url,"_self");

  });
});
</script>
<div class="container " style="margin-top:100px;">
  <div style="height:520px;">
    <form  action=/login/ method="post" id="login">
      {%csrf_token%}
      <h1>登 录</h1>
      <fieldset id="inputs">
        <input id="username" type="text" name="username" placeholder="用户名" autofocus required>
        <input id="password" type="password" name="password" placeholder="密码" required>
      </fieldset>
      <fieldset id="actions">
        <input type="submit" id="submit" name="login" value="登 录">
        <a href="">忘记密码?</a> <a  href="" id="registerlink">注册</a>
      </fieldset>
    </form>
    <br>
    <br>
    <div style="text-align:center;clear:both"> </div>
  </div>
  
  <!--end span8--> 
  
</div>
{% endblock%}