{% extends "base.html" %}
{% block title %}注册{%endblock%}
{% block content %}
<style>
.span7{ height:580px;}
</style>
<div class="container main_body" style="margin-top:100px;">
<div id="sign" class="wrap-register">
  <div class="part register">
        <form action="">
            <div id="login-active" class="switch">
                <i class="fa fa-toggle-on"></i>
                切换登录
            </div>
            <h3>注册</h3>

            <p>
                <label for=""></label>
                <input type="text" name="" id="" class="input-control" placeholder="输入用户名"/>
            </p>

            <p>
                <label for=""></label>
                <input type="text" name="" id="" class="input-control" placeholder="输入常用邮箱"/>
            </p>

            <p>
                <label for=""></label>
                <input type="text" name="" id="" class="input-control" placeholder="密码最小长度为6"/>
            </p>

            <p>
                <label for=""></label>
                <input type="text" name="" id="" class="input-control" placeholder="再次输入密码"/>
            </p>

            <p>
                <input type="submit" class="submit" value="注册"/>
            </p>
            <a class="close">
                <i class="fa fa-times"></i>
            </a>
        </form>
    </div>
</div>
</div>
{%endblock%} 
  
