/*------
-------网站首页的整体样式
--------
*/
@import "variables.less";

.link-grey{
  color: #666;
  &:hover{
    color: #ff8a00;
  }
}
.my-title{
  font-size: 18px;
  margin-bottom: 20px;
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.add-tra{
  list-style: none;
  li{
    margin-bottom: 10px;
    &:before,
    &:after{
      content: "";
      display: table;
    }
    &:after{
      clear: both;
    }
    input,textarea,
    &>div{
      float: left;
      width: 80%;
    }
    input[type="text"]{
      border: solid 1px #ccc;
      border-radius: 4px;
      line-height: 10px;
      padding: 10px;
    }
    textarea{
      border: solid 1px #ccc;
      border-radius: 4px;
      padding: 10px;
    }
  }
  label{
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
    line-height: 36px;
    color: #333;
  }
  .upload{
    border: solid 1px #4cae4c;
    background-color: #4cae4c;
    border-radius: 4px;
    line-height: 10px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    width: 60px;
    text-align: center;
    margin-top: 3px;
  }
  .filename{
    line-height: 36px;
    margin-left: 10px;
  }
  .cke_chrome{
    border: solid 1px #ccc;
  }
}

.tra-list{
  border-bottom:1px dotted #ccc;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  &:before,
  &:after{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
  &:hover{

    a{
      color: #ff8a00;
    }
    .date{
      background-color: #DB6D4C;
      color: #fff;
    }
  }
  h4{
    font-weight: normal;
    width: 90%;
    float: left;
    margin: 0;
    line-height: 40px;
  }
  .date{
    display: inline-block;
    background-color: #f2f2f2;
    width: 108px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    margin-right: 15px;
    i{
      font-style: normal;
      font-size: 18px;
    }
  }

}
.fix-item{
  width: 10%;
  float: left;
  text-align: right;
  display: none;
  position: absolute;
  right: 10px;
  a{
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding-left: 8px;
    .iconfont{
      font-size: 20px;
    }
  }
  a:hover .iconfont{
    color: #ff8a00;
    font-size: 22px;
  }
}

.favlist li:before,
.favlist li:after{
    content: "";
    display: table;
}
.favlist li:after{
    clear: both;
}
.favpost-item{
    padding: 20px 0;
    margin-bottom: -1px;
    border-bottom: 1px dashed #cecece;
    color: #666;
    position: relative;
}
.delpost{
    width: 13px;
    height: 13px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url("../images/close03.png") no-repeat;
    overflow: hidden;
    background-size: cover;
    display: block;
}
.hide{
    display: none;
}
.pic{
    width: 195px;
    height: 140px;
    float: left;
    margin-right: 15px;
    background: url(../images/nopic2.jpg) no-repeat center center;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}
.pic img{
    width: 195px;
    height: 140px;
}
.favcontent{
    width: 480px;
    float: left;
}
.favcontent h2{
    margin: 0 25px 5px 0;
    font-size: 16px;
    overflow: hidden;
    font-weight: normal;
    height: 25px;
}
.favcontent h2 a{
    font-size: 20px;
    color: #fa0;
}
.favpost-intro{
    overflow: hidden;
    margin-top: 4px;
    font-size: 12px;
    line-height: 20px;
}
.author{
    height: 20px;
    float: left;
}
.author img{
    width: 16px;
    height: 16px;
    margin-top: -4px;
}
.favpost-info{
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px;
    clear: both;
    color: #666;
}

/*view-account*/
.user-view{
  &>span{
    display: block;
    line-height: 26px;
    padding-left: 20px;
    text-align: center;
  }
}
.view-aver{
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.tab-type{
  line-height: 40px;
  overflow: hidden;
  border-bottom: solid 1px #ff8a00;
  margin-bottom: 10px;
  li{
    float: left;
    padding: 0 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f2f2f2;
  }
  li.on{
    background-color: #ff8a00;
    color: #fff;
  }
}
.tab-box{
  display: none;
}
.travlist{
  li{
    position: relative;
  }
  .date{
    position: absolute;
    right: 0;
    top:3px;
  }
  a{
    display: block;
    line-height: 24px;
    color: #333;
    &:hover{
      color: #ff8a00;
    }
  }
}
.photolist{
  li{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .photopic{
    width: 180px;
    display: block;
  }
}