/*整体样式*/
@import "variables";

/*公告部分*/
body{
	background-color: #f8f8f8
}
/*导航*/
.navbar-nav{
	li:hover{
		background-color: transparent;
	}
	a{
		font-size: 18px;
		&:hover{
			background-color: transparent;
		}
	}
}

/*页尾*/
.foot{
	height: 40px;
	line-height: 40px;
	margin-top: 50px;
	width: 100%;
	text-align: center;
  background-color: #101010;
  color: #666;
  a{
  	color: #666;
  }
}

/*分页统一样式*/
.pagination{
	float: right;
}
