/*------
-------网站首页的整体样式
--------
*/
.link-grey {
  color: #666;
}
.link-grey:hover {
  color: #ff8a00;
}
.my-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.my-title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.add-tra {
  list-style: none;
}
.add-tra li {
  margin-bottom: 10px;
}
.add-tra li:before,
.add-tra li:after {
  content: "";
  display: table;
}
.add-tra li:after {
  clear: both;
}
.add-tra li input,
.add-tra li textarea,
.add-tra li > div {
  float: left;
  width: 80%;
}
.add-tra li input[type="text"] {
  border: solid 1px #ccc;
  border-radius: 4px;
  line-height: 10px;
  padding: 10px;
}
.add-tra li textarea {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 10px;
}
.add-tra label {
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 5px;
  line-height: 36px;
  color: #333;
}
.add-tra .upload {
  border: solid 1px #4cae4c;
  background-color: #4cae4c;
  border-radius: 4px;
  line-height: 10px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  width: 60px;
  text-align: center;
  margin-top: 3px;
}
.add-tra .filename {
  line-height: 36px;
  margin-left: 10px;
}
.add-tra .cke_chrome {
  border: solid 1px #ccc;
}
.tra-list {
  border-bottom: 1px dotted #ccc;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tra-list:before,
.tra-list:after {
  content: "";
  display: table;
}
.tra-list:after {
  clear: both;
}
.tra-list:hover a {
  color: #ff8a00;
}
.tra-list:hover .date {
  background-color: #DB6D4C;
  color: #fff;
}
.tra-list h4 {
  font-weight: normal;
  width: 90%;
  float: left;
  margin: 0;
  line-height: 40px;
}
.tra-list .date {
  display: inline-block;
  background-color: #f2f2f2;
  width: 108px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  margin-right: 15px;
}
.tra-list .date i {
  font-style: normal;
  font-size: 18px;
}
.fix-item {
  width: 10%;
  float: left;
  text-align: right;
  display: none;
  position: absolute;
  right: 10px;
}
.fix-item a {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  padding-left: 8px;
}
.fix-item a .iconfont {
  font-size: 20px;
}
.fix-item a:hover .iconfont {
  color: #ff8a00;
  font-size: 22px;
}
