/*------整体网站的通用样式
--------整体网站的常用样式
*/
body,
div,
a,
ul,
li,
p,
dl,
dd,
h1,
h2,
h3 {
  background: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: "Microsoft Yahei";
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #ffffff;
  color: #333;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
ol,
ul {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
a {
  color: #ff8a00;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #ff0000;
}
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="text"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select,
textarea {
  margin: 0;
  padding: 0;
  border-width: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}