.clear:before,
.clear:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table
}

.clear:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both
}


.site-content .home-grid {
    padding: 0 40px
}

.site-header {
    position: relative;
    text-align: center;
    padding: 60px 40px 20px;
    margin: 0 auto;
    max-width: 1430px
}

.site-title,
.site-title a {
    font-size: 50px;
    color: #404040;
    margin-bottom: 0
}

.site-description {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em
}

.contact-button {
    position: absolute;
    top: 90px;
    left: 40px
}

.site-content {
    margin-bottom: 50px
}

.site-footer {
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding: 50px 0 65px;
    letter-spacing: 0.025em
}

.site-info .social-media-icons {
    margin-bottom: 10px
}

.site-footer h3.phone {
    font-size: 14px
}

.site-footer h3.email {
    font-size: 14px;
    font-weight: 600
}






.gallery {
    margin-bottom: 1.5em
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%
}

.gallery-columns-2 .gallery-item {
    max-width: 50%
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%
}

.gallery-columns-4 .gallery-item {
    max-width: 25%
}

.gallery-columns-5 .gallery-item {
    max-width: 20%
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%
}

.gallery-caption {
    display: block
}

.gallery-image {
    width: 24%;
    margin: 0 0.5% 12px
}

.cat-gallery-title {
    text-align: center
}

.post-cat-gallery-title {
    text-align: left
}




[class*='col-'] {
    float: left;
    padding-right: 40px
}

.grid {
    width: 100%;
    max-width: 1440px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden
}

.grid:after {
    content: "";
    display: table;
    clear: both
}

.grid-pad {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 0px
}

.push-right {
    float: right
}

.col-1-1 {
    width: 100%
}

.col-2-3,
.col-8-12 {
    width: 66.66%
}

.col-1-2,
.col-6-12 {
    width: 50%
}

.col-1-3,
.col-4-12 {
    width: 33.33%
}

.col-1-4,
.col-3-12 {
    width: 25%
}

.col-1-5 {
    width: 20%
}

.col-1-6,
.col-2-12 {
    width: 16.667%
}

.col-1-7 {
    width: 14.28%
}

.col-1-8 {
    width: 12.5%
}

.col-1-9 {
    width: 11.1%
}

.col-1-10 {
    width: 10%
}

.col-1-11 {
    width: 9.09%
}

.col-1-12 {
    width: 8.33%
}

.col-11-12 {
    width: 91.66%
}

.col-10-12 {
    width: 83.333%
}

.col-9-12 {
    width: 75%
}

.col-5-12 {
    width: 41.66%
}

.col-7-12 {
    width: 58.33%
}

.push-2-3,
.push-8-12 {
    margin-left: 66.66%
}

.push-1-2,
.push-6-12 {
    margin-left: 50%
}

.push-1-3,
.push-4-12 {
    margin-left: 33.33%
}

.push-1-4,
.push-3-12 {
    margin-left: 25%
}

.push-1-5 {
    margin-left: 20%
}

.push-1-6,
.push-2-12 {
    margin-left: 16.667%
}

.push-1-7 {
    margin-left: 14.28%
}

.push-1-8 {
    margin-left: 12.5%
}

.push-1-9 {
    margin-left: 11.1%
}

.push-1-10 {
    margin-left: 10%
}

.push-1-11 {
    margin-left: 9.09%
}

.push-1-12 {
    margin-left: 8.33%
}

@media screen and (max-width: 1100px) {
    .gallery-image {
        width: 32%;
        margin: 0 0.66666% 10px
    }
}

@media handheld,
only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 10px
    }
    [class*='col-'] {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 10px
    }
    [class*='mobile-col-'] {
        float: left;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 0px
    }
    .mobile-col-1-1 {
        width: 100%
    }
    .mobile-col-2-3,
    .mobile-col-8-12 {
        width: 66.66%
    }
    .mobile-col-1-2,
    .mobile-col-6-12 {
        width: 50%
    }
    .mobile-col-1-3,
    .mobile-col-4-12 {
        width: 33.33%
    }
    .mobile-col-1-4,
    .mobile-col-3-12 {
        width: 25%
    }
    .mobile-col-1-5 {
        width: 20%
    }
    .mobile-col-1-6,
    .mobile-col-2-12 {
        width: 16.667%
    }
    .mobile-col-1-7 {
        width: 14.28%
    }
    .mobile-col-1-8 {
        width: 12.5%
    }
    .mobile-col-1-9 {
        width: 11.1%
    }
    .mobile-col-1-10 {
        width: 10%
    }
    .mobile-col-1-11 {
        width: 9.09%
    }
    .mobile-col-1-12 {
        width: 8.33%
    }
    .mobile-col-11-12 {
        width: 91.66%
    }
    .mobile-col-10-12 {
        width: 83.333%
    }
    .mobile-col-9-12 {
        width: 75%
    }
    .mobile-col-5-12 {
        width: 41.66%
    }
    .mobile-col-7-12 {
        width: 58.33%
    }
    .hide-on-mobile {
        display: none !important;
        width: 0;
        height: 0
    }
    .gallery-image {
        width: 48%;
        margin: 0 1% 10px
    }
    .site-content .home-grid {
        padding: 0 20px
    }
    .dummy-img {
        margin: 50px auto 15px
    }
    .close-content {
        padding: 0.25em 0.2em
    }
    .site-title {
        padding-top: 15px
    }
    .contact-button {
        top: 20px;
        left: 30px
    }
    .social-media {
        top: 25px;
        right: 30px
    }
}

@media screen and (max-width: 480px) {
    .gallery-image {
        width: 96%;
        margin: 0 2% 15px
    }
}

.push-body {
    overflow-x: hidden;
    position: relative;
    left: 0
}

.push-body-toright {
    left: 240px
}

.push-body-toleft {
    left: -240px
}

.cbp-spmenu,
.push-body {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease
}

@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 100%
    }
    .cbp-spmenu-top {
        top: -100%
    }
    .cbp-spmenu-bottom {
        bottom: -110px
    }
}

@media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px
    }
    .cbp-spmenu-left,
    .push-body-toleft {
        left: -190px
    }
    .cbp-spmenu-right {
        right: -190px
    }
    .push-body-toright {
        left: 190px
    }
}

body {
    position: relative
}
div.lightbox-content {
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
}
.noscroll {
    overflow: hidden
}

.grid-wrap {
    margin: 10px auto 0;
    max-width: 1360px;
    width: 100%;
    padding: 0;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.gridsby {
    position: relative;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
    -webkit-transform-style: inherit;
    transform-style: inherit
}

.view-full .gridsby {
    -webkit-transform: translateZ(-1500px);
    transform: translateZ(-1500px)
}

.gridsby figure {
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.gridsby figure.active {
    opacity: 0
}

.gridsby .placeholder {
    pointer-events: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out
}

.placeholder>div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.placeholder .front img {
    width: 100%;
    height: 100%
}

.placeholder .back {
    background: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.view-full .placeholder {
    -webkit-transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1);
    transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1)
}

.vertical .view-full .placeholder {
    -webkit-transform: translateZ(1500px) rotateX(-179.9deg);
    transform: translateZ(1500px) rotateX(-179.9deg)
}

.horizontal .view-full .placeholder {
    -webkit-transform: translateZ(1500px) rotateY(-179.9deg);
    transform: translateZ(1500px) rotateY(-179.9deg)
}

.gridsby figure img {
    display: block;
    width: 100%;
    height: auto
}

.content,
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none
}

.content {
    overflow-y: scroll;
    height: 0;
    background: #fff;
    visibility: hidden;
    z-index: 400;
    -webkit-overflow-scrolling: touch
}

.loading {
    opacity: 0;
    z-index: 1;
    background: transparent url(../images/preloader.gif) no-repeat center center;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s
}

.loading.show {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.content.show {
    height: auto;
    pointer-events: auto;
    visibility: visible
}

.content>div {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    opacity: 0;
    background: #fff
}

.content>div.show {
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s
}

.icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.close-content {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 10px;
    font-size: 1.6em;
    color: #aaa;
    cursor: pointer;
    pointer-events: none;
    padding: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}
.close-content .icon{
    font-size: 35px;
}
.close-content:hover {
    color: #999
}

.content>div.show~.close-content {
    opacity: 1;
    pointer-events: auto
}

.dummy-img,
div.show p,
.dummy-title {
    max-width: 600px;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s
}

.vertical .dummy-img,
.vertical div.show p,
.vertical .dummy-title {
    -webkit-transform: translateY(100px);
    transform: translateY(100px)
}

.horizontal .dummy-img,
.horizontal div.show p,
.horizontal .dummy-title {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px)
}

.content > div.show .dummy-img,
.content > div.show p,
.content > div.show .dummy-title {
    opacity: 1
}

.vertical .content > div.show .dummy-img,
.vertical .content > div.show p,
.vertical .content > div.show .dummy-title {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.horizontal .content > div.show .dummy-img,
.horizontal .content > div.show p,
.horizontal .content > div.show .dummy-title {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

div.show p:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
}

div.show p:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
}

.dummy-img {
    height: auto;
    margin: 30px auto 15px
}

.dummy-img img {
    width: 100%
}

div.show p {
    text-align: left;
    margin: 0 auto;
    padding: 20px 0 10px;
    color: #404040;
    font-size: 1em
}

div.show p:last-child {
    padding-bottom: 100px
}

.dummy-title {
    text-align: left;
    margin: 0 auto;
    padding: 10px 0 20px;
    color: #404040;
    font-size: 2em;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    border-bottom: 1px solid #666
}

.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
    opacity: 1;
    visibility: visible;
    display: none;
    height: auto
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .dummy-img,
.no-csstransitions .dummy-text,
.no-csstransforms3d .dummy-img,
.no-csstransforms3d .dummy-text,
.no-pointerevents .dummy-img,
.no-pointerevents .dummy-text {
    display: block !important;
    opacity: 1
}

@media screen and (max-width: 767px) {
    .dummy-img {
        margin: 50px auto 15px
    }
    .close-content {
        padding: 0.25em 0.2em
    }
}
