/*------
-------网站首页的整体样式
--------
*/
.hide {
  display: none;
}
.site-content {
  margin-bottom: 50px;
}
/*---最新游记---*/
.trav-list {
  padding-left: 40px;
  padding-right: 0px;
}
.trav-list .col-md-3 {
  width: 33.333%;
  float: left;
  position: relative;
}
.trav-list .trav-post {
  height: 376px;
  position: relative;
}
.trav-list .trav-post .trav-bg {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.trav-list .trav-post .trav-content {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  min-height: 375px;
  padding: 6.25%;
  position: relative;
  z-index: 2;
  color: #fff;
}
.trav-list .trav-post .trav-content .post-container {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  margin: 6.25%;
  position: absolute;
}
.trav-list .trav-post .trav-content .post-container p {
  color: #FFF;
  font-size: 15px;
  margin-bottom: 1.5em;
}
.trav-list .trav-post .trav-content .post-container p.date {
  font-size: 13px;
  color: #FFF;
}
.trav-list .trav-post .trav-content .post-container h4 {
  font-weight: 600;
}
.trav-list .trav-post .trav-content .post-container h4:after {
  border: 1px solid #fff;
  content: " ";
  display: block;
  margin-top: 12px;
  width: 25%;
}
.trav-list {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 50px;
}
.trav-list h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .trav-list {
    width: 100%;
  }
  .trav-list .col-md-3 {
    width: auto;
    float: none;
    margin-right: 0;
  }
  .photo-list .row {
    width: 100%;
  }
}
.btn {
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  border: solid 1px #ff7725;
  background-color: #ff7725;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #000;
  border-radius: 3px;
  background: #000;
  color: #FFF;
  cursor: pointer;
  -webkit-appearance: button;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  line-height: 1;
  padding: .4em 1em .4em;
}
.trav-more {
  width: 160px;
  margin: 0 auto;
}
.trav-more button.photo-archive {
  padding: 25px 40px;
  display: block;
  margin: 50px auto 100px;
}
/*---最新摄影---*/
.photo-area {
  margin-top: 50px;
  margin-bottom: 30px;
}
.photo-area h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  background: url(../images/bg-h2.png) repeat-x center;
  margin-bottom: 40px;
}
.photo-area h2 span {
  color: #ac1500;
  padding: 5px 40px;
}
.photo-list .row {
  max-width: 1200px;
  padding: 0;
  margin: 24px auto;
  position: relative;
}
/*header*/
.site-header .site-branding .site-title,
.site-header .site-branding .site-title a {
  font-size: 50px;
  color: #404040;
  margin-bottom: 0;
  font-weight: normal;
}
.site-description {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: normal;
}
.nav-button {
  position: absolute;
  top: 90px;
  left: 440px;
}
.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 190px;
  overflow-y: scroll;
  z-index: 1000;
  height: 100%;
  background-color: #222;
}
.nav-menu h3 {
  color: #ededed;
  font-size: 15px;
  padding: 14px 20px;
  margin: 0;
  font-weight: 600;
  background: #000;
  cursor: pointer;
}
.nav-menu-list li {
  position: relative;
  float: left;
  width: 100%;
}
.nav-menu-list li a {
  display: block;
  color: #ccc;
  font-size: 15px;
  font-weight: 300;
  padding: 8px 1em;
  text-align: left;
}
.nav-menu-list li a:hover {
  background-color: #000;
}
/*footer*/
.site-footer {
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  padding: 50px 0 65px;
  letter-spacing: 0.025em;
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
