<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,user-scalable=yes" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="Shortcut Icon" href="/static/images/logo_net_32.png">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/accounts.css">
    <link rel="stylesheet" href="/static/css/iconfont.css" />
    <link rel="stylesheet" href="/static/css/photo.css">
    <script src="/static/js/jquery-v1.10.2.js"></script>
    <script src="/static/js/photo.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?d8e31619ca6a8535d32a5cecbef00ed4";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>

<body>
    <!--header-->
    <div class="navbar fixed">
        <div class="nav">
            <div class="logo">
                <a href=""><img src="/static/images/logo.png" alt="" /></a>
            </div>
            <div class="top-right">
                <ul class="main-nav">
                    <li><a href="/index">首页</a></li>
                    <li><a href="/blog">旅游游记</a></li>
                    <li><a href="/photo">旅游摄影</a></li>
                </ul>
                <div class="login-reg">
                    <a href="/login" class="top-login">登录</a>
                    <a href="/register" class="top-register">注册</a>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <!--footer-->
    <div class="footer">
        <div class="copyright">
            Copyright &copy; 2015-2016 Powered by <a href="/index">Rdstours</a> &nbsp;&nbsp; 苏ICP备14049610号-1
        </div>
    </div>
</body>

</html>