<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,user-scalable=yes"/>
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index-r.css"/>
    <link rel="stylesheet" href="/static/css/gallery-image.css"/>
    <link rel="stylesheet" href="/static/css/menu-nav.css"/>

    <script src="/static/js/jquery-1.8.3.min.js"></script>

    <script src="/static/js/imagesLoaded.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/gallery-image.js"> </script>
    <script src="/static/js/jqmain.js"></script>

    <!--[if IE]>
    <script src="js/html5shiv-printshiv.js"></script>
    <![endif]-->
</head>
<body>
<header class="site-header">
    <div class="nav-menu grid ">
        <div class="navbar"></div>
        <div class="circle"></div>
        <div class="menu">
            <ul >
                <li><a href="http://www.baidu.com">首页</a></li>
                <li><a href="">新闻资讯</a></li>
                <li><a href="">产品超市</a></li>
                <li><a href="">创业服务</a></li>
            </ul>
        </div>
        <div class="burger">
            <div class="x"></div>
            <div class="y"></div>
            <div class="z"></div>
        </div>
    </div>
<div class="grid">
    <div class="site-branding">
        <h1 class="site-title">
            <a href="">Gridsby</a>
        </h1>
        <h2 class="site-description">A Beautiful Way to Display Your Photos</h2>
    </div>
</div>
</header>
<section id="content" class="site-content">
    <div class="container home-grid">
        <!--new photo-->
        <section class="grid3d horizontal" id="grid3d">
            <div class="grid-wrap" >
                <div id="gallery-container" class="gridsby infinite-scroll">
                       {% for photo in photos|slice:":16" %}
                    <figure class="gallery-image" >
                        <img width="450"  src="/site_media/{{photo.photo}}" class="attachment-gridsby-gallery-thumb size-gridsby-gallery-thumb wp-post-image" alt="{{photo.title}}" srcset="/site_media/{{photo.photo}}, /site_media/{{photo.photo}}" >
                    </figure><!-- gallery-image -->
                       {% endfor %}

                </div><!-- gallery-container -->
            </div><!-- /grid-wrap -->

            <div class="content">
                   {% for photo in photos|slice:":16" %}
                <div>
                    <div class="lightbox-content">

                        <div class="dummy-img">
                            <img width="500"  src="/site_media/{{photo.photo}}" class="attachment-gridsby-gallery-full size-gridsby-gallery-full wp-post-image" alt="true" srcset="/site_media/{{photo.photo}}, /site_media/{{photo.photo}}" >                    </div><!-- dummy-img -->

                        <h2 class="dummy-title">

                            {{photo.title}} 

                        </h2><!-- dummy-title -->

                        <p>{{photo.title}}</p>

                    </div><!-- lightbox-content -->
                </div>
                     {% endfor %}

                <span class="loading"></span>

				<span class="icon close-content">
                	<i class="fa fa-close"></i>
                </span>

            </div><!-- content -->
        </section>
    </div>
    <div class="grid trav-more">
        <div class="col-1-1">
            <a href="../photo">
                <button class="photo-archive">查看更多</button></a>

        </div>
    </div>
<div class="grid grid-pad">
    <h2 class="trav-index-title">
        <span>最新游记</span>
        </h2>
</div>
    <div class="trav-list grid">
        {% for post in posts|slice:":3" %}
        <div class="col-md-3">
            <div class="trav-post">
                <div class="trav-bg" style="background-image: url('/site_media/{{ post.image }}')"></div>
                <a href="/blog/{{ post.id }}">
                    <div class="trav-content">
                        <div class="post-container">
                            <p class="date">{{ post.pub_date }}</p>
                            <h4>{{ post.title }}</h4>
                            <p>{{ post.content|safe|slice:":10" }}...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
<div class="grid trav-more">
        <div class="col-1-1">
            <a href="../photo">
                <button class="photo-archive">查看更多</button></a>

        </div>
    </div>
</section>
<footer class="site-footer">
    Copyright © 2012-2016 觉唯  All Rights Reserved. 粤ICP备12073831号-1
</footer>
<script>
    if ('ontouchstart' in window) {
        var click = 'touchstart';
    } else {
        var click = 'click';
    }
    $('div.burger').on(click, function () {
        if (!$(this).hasClass('open')) {
            openMenu();
        } else {
            closeMenu();
        }
    });
    $('div.menu ul li a').on(click, function (e) {
        e.preventDefault();
        closeMenu();
    });
    function openMenu() {
        $('div.circle').addClass('expand');
        $('div.menu').css('z-index','999');
        $('div.burger').addClass('open');
        $('div.x, div.y, div.z').addClass('collapse');
        $('.menu li').addClass('animate');
        setTimeout(function () {
            $('div.y').hide();
            $('div.x').addClass('rotate30');
            $('div.z').addClass('rotate150');
        }, 70);
        setTimeout(function () {
            $('div.x').addClass('rotate45');
            $('div.z').addClass('rotate135');
        }, 120);
    }
    function closeMenu() {
        $('div.burger').removeClass('open');
        $('div.menu').css('z-index','0');
        $('div.x').removeClass('rotate45').addClass('rotate30');
        $('div.z').removeClass('rotate135').addClass('rotate150');
        $('div.circle').removeClass('expand');
        $('.menu li').removeClass('animate');
        setTimeout(function () {
            $('div.x').removeClass('rotate30');
            $('div.z').removeClass('rotate150');
        }, 50);
        setTimeout(function () {
            $('div.y').show();
            $('div.x, div.y, div.z').removeClass('collapse');
        }, 70);
    }
</script>
</body>
</html>