<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,user-scalable=yes"/>
    <meta name="Keywords" content="路人游,旅游游记,旅游摄影,rdstour">
    <meta name="description" content="记录旅游路上的见闻,美丽摄影,记下每一次出门,每一次路上的旅行。">
    <title>路人游</title>
    <link rel="Shortcut Icon" href="/static/images/logo_net_321.png">
    <link rel="stylesheet" href="/static/css/rs-index.css?v=89d4eda240">
</head>

<body>
<!--header start here-->
<div class="header ">
    <div class="container">
        <div class="header-main">
            <div class="header-left ">
                <div class="logo">
                    <a href="index.html"><img src="/static/images/rs-logo.png" alt=""/></a>
                </div>
                <div class="top-nav">
                    <ul class="res">
                        <li><a href="/index">首页</a></li>
                        <li><a href="/travels">游记</a></li>
                        <li><a href="/photo">摄影</a></li>
                        <li><a href="/about">关于我</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right">

                {% if user.is_authenticated %}
                <div class="top-login-in ">
                    <div class="head-user">
                        <a href="" class="drop-trigger" title="{{user.username}}">
                            {% for users in users %}
                            {% if users.user_id == user.id %}
                            <img src="/site_media/{{ users.mugshot }}" alt=""/>
                            <i class="fa fa-sort-down"></i>
                            {% endif %}
                            {% endfor %}
                        </a>
                    </div>
                    <div class="login-item dropdown-user">
                        <ul>
                            <li><a href="{% url 'userena_profile_detail' user.username %}" target="_blank"><i class="fa fa-user"></i>个人中心</a></li>
                            <li><a href="{% url 'add'  %}" target="_blank"><i class="fa fa-plus"></i>写游记</a></li>
                            <li><a href="{% url 'list' user.username %}" target="_blank"><i class="fa fa-list-ul" ></i>我的游记</a></li>
                            <li><a href="{% url 'favourite_list' user.username %}" target="_blank"><i class="fa fa-star-o" ></i>我的收藏</a></li>
                            <li><a href="{% url 'userena_profile_edit' user.username %}" target="_blank"><i class="fa fa-cog" ></i>设置</a></li>
                            <li><a href="/accounts/signout"><i class="fa fa-power-off"></i>退出</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="top-login-out">
                    <a href="/accounts/signin">登录</a>
                    <span class="split">|</span>
                    <a href="/accounts/signup">注册</a>
                </div>
                {% endif %}
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="head-shadow"></div>
</div>
<!--banner start here-->
<div class="banner " >
    <ul class="slides">
        {% for travels in travels %}
        <li>
            <a href="/travels/{{ travels.id }}">
                <div class="bannerbg" style="background: url('/site_media/{{ travels.bigimage }}') no-repeat; background-size: cover;"></div>
                <div class="caption">
                    <span class="banner-date"><i>{{ travels.pub_date|date:'d' }}</i>/{{ travels.pub_date|date:'m' }}.{{ travels.pub_date|date:'Y' }}</span>
                    <h3>{{ travels.title }}</h3>
                </div>
            </a>
        </li>
        {% endfor %}

    </ul>
</div>
<!--container start here-->
<div class="container ">
    <div class="rdstour-nav">
        <h6><img src="/static/images/logo-zit.png"   alt=""/></h6>
        <p>
            背个小包，装着我们的理想和所有喜欢的歌，坐着哐当哐当的火车，去旅行...
        </p>
    </div>
</div>

<div class="photography  ">
    <div id="demo-test-gallery" class="demo-gallery">
        {% for photo in photos %}
        <a href="/site_media/{{photo.photo}}" class="col-md-3 col-sm-4 col-xs-6" data-size="1600x1600" data-med="/site_media/{{photo.photo}}" data-med-size="1024x1024" data-author="{{photo.user}}" >
            <img src="/site_media/{{photo.photo}}" alt="" />
            <figure>{{ photo.photointro }}</figure>
            <div class="photover">
                <h3> {{photo.title}} </h3>
                <span class="photover-line"></span>
                <small class="photover-viewmore"></small>
                <div class="photover-grids">
                    <div class="photover-left">
                        <span class="photouser">
                             {% for users in users %}
                                 {% if users.user_id == photo.user_id %}
                                    <img src="/site_media/{{ users.mugshot }}" alt=""/>
                                 {% endif %}
                             {% endfor %}
                        </span>
                        <p>{{photo.user}}</p>
                    </div>
                    <div class="photover-right">
                        <span class="photoheart">{{ photo.praise_num }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--footer start here-->
<div class="footer">
    <div class="container">
        <div class="footer-main">
            <p>
                Copyright &copy; 2015-2016 Powered by <a href="/index">路人游</a>
                <span>苏ICP备14049610号-1</span>
            </p>
        </div>
    </div>
</div>

<!--script-->
<script src="/static/js/require.js" data-main="/static/js/rdsmain"></script>
<!--<script src="/static/js/jquery-v1.10.2.js"></script>
<script src="/static/js/photoswipe.min.js"></script>
<script src="/static/js/photoswipe-ui-default.min.js"></script>
<script src="/static/js/jquery.flexslider-min.js"></script>
<script src="/static/js/jquery.lazyload.min.js"></script>
<script src="/static/js/jquery-rdsmain.js"></script>
<script>
    $(function() {
        $(".banner").flexslider({
            animation:'fade',
            slideshowSpeed:'3000',
            pauseOnHover:'false',
        });
    });
</script>-->
</body>
</html>