<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,user-scalable=yes" />
    <meta name="Keywords" content="路人游,旅游游记,旅游摄影,rdstour">
    <meta name="description" content="记录旅游路上的见闻,美丽摄影,记下每一次出门,每一次路上的旅行。">
    <title>{% block title %}路人游{% endblock %}</title>
    <link rel="Shortcut Icon" href="/static/images/logo_net_321.png">

    <link rel="stylesheet" href="/static/css/rs-index.css">
    <link rel="stylesheet" href="/static/css/rs-account.css">

    <!--<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>-->
    <script  data-main="/static/js/config" src="/static/js/require.js" ></script>
    <script>
        var __funcList = [];
        var _run = function (aFunc) {
            __funcList.push(aFunc);
        };
    </script>
    <script type="text/javascript">
        function queryByKeyword(){
            $('#form').submit();
            sessionStorage.lastname = $('#search-input').val();
        }
    </script>
</head>

<body>
<!--header start here-->
<div class="header ">
    <div class="container">
        <div class="header-main">
            <div class="header-left ">
                <div class="logo">
                    <a href="index.html"><img src="/static/images/rs-logo.png" alt=""/></a>
                </div>
                <div class="top-nav">
                    <ul class="res">
                        <li><a href="/index">首页</a></li>
                        <li><a href="/travels">游记</a></li>
                        <li><a href="/photo">摄影</a></li>
                        <li><a href="/about">关于我</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <div class="search">
                    {% if errors %}
                    <ul>
                        {% for error in errors %}
                        <li style="color: red;">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="/search/" method="get" id="form" target="_blank">
                        <input type="text" name="q" id="search-input" placeholder="搜索关键字">
                        <a onclick="queryByKeyword()" class="submit"><i class="fa fa-search"></i></a>
                    </form>
                </div>

                {% if user.is_authenticated %}
                <div class="top-login-in ">
                    <div class="head-user">
                        <a href="" class="drop-trigger" title="{{user.username}}">
                            {% for users in users %}
                            {% if users.user_id == user.id %}
                            <img src="/site_media/{{ users.mugshot }}" alt=""/>
                            <i class="fa fa-sort-down"></i>
                            {% endif %}
                            {% endfor %}
                        </a>
                    </div>
                    <div class="login-item dropdown-user">
                        <ul>
                            <li><a href="{% url 'userena_profile_detail' user.username %}" target="_blank"><i class="fa fa-user"></i>个人中心</a></li>
                            <li><a href="{% url 'add'  %}" target="_blank"><i class="fa fa-plus"></i>写游记</a></li>
                            <li><a href="{% url 'list' user.username %}" target="_blank"><i class="fa fa-list-ul" ></i>我的游记</a></li>
                            <li><a href="{% url 'favourite_list' user.username %}" target="_blank"><i class="fa fa-star-o" ></i>我的收藏</a></li>
                            <li><a href="{% url 'userena_profile_edit' user.username %}" target="_blank"><i class="fa fa-cog" ></i>设置</a></li>
                            <li><a href="/accounts/signout"><i class="fa fa-power-off"></i>退出</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="top-login-out">
                    <a href="/accounts/signin">登录</a>
                    <span class="split">|</span>
                    <a href="/accounts/signup">注册</a>
                </div>
                {% endif %}
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="head-shadow"></div>
</div>
    {% block content %}{% endblock %}
<!--footer start here-->
<div class="footer">
    <div class="container">
        <div class="footer-main">
            <p>
                Copyright &copy; 2015-2016 Powered by <a href="/index">路人游</a>
                <span>苏ICP备14049610号-1</span>
            </p>
        </div>
    </div>
</div>


</body>

</html>