{% extends "base.html" %}
{% block title %}Tour travels{%endblock%}
{% block content %}

<script>
    $(function () {
        h2 = $('.cityname').val();
        $('.city-title h2').html(h2);
    })
</script>
<!--container-->
{% if travels_list %}
<div class="rds-container">

    <div class="city-title">
        <h2></h2>
    </div>
    {% for b in travels_list %}
    <div class="rds-main city-list">
        <div class="news-list">
            <input type="hidden" name="" class="cityname" value="{{b.city}}"  id=""/>
            <h2><a href="/travels/{{ b.id }}" target="_blank">{{b.title}}</a></h2>
            <img src="/site_media/{{ b.image }}" alt="" class="scenery-img"/>
            <div class="news-info">
                <div class="fleft">
                    <span class="address"><i class="icon iconfont">&#xe603;</i>
                        <a href="{% url 'search_city' city=b.city %}">{{b.city}}</a></span>
                    {% for users in users %}
                    {% if users.id = b.author_id %}
                    <span class="author">by <a href="">
                        <img src="/site_media/{{ users.mugshot }}" alt=""/>
                        {% endif %}
                        {% endfor %}
                        {{ b.author }}</a></span>

                    <span class="views"><i class="icon iconfont">&#xe605;</i>{{b.count_hit}}</span>
                </div>
                <div class="fright comments">
                    <i class="icon iconfont">&#xe600;</i>
                    {% load comments %}
                    {% get_comment_count for b as comment_count %}
                    {{ comment_count }}
                </div>
            </div>
            <div class="brief">
                {{ b.contextinfo }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}


{%endblock%}


  

