{% extends "base.html" %}
{% block title %}搜索{%endblock%}
{% block content %}

<style>
	.header-right .search{
		display: none;
	}
</style>
<script>
	_run(function () {
		require(['jquery'],function(){
			var ofheight = $(document).height();
			$('.main').css('height',ofheight-145);
			$('.header-right').find('.search').remove();
		})
	});
</script>

<div class="main">
<div class="container main-search">

	<form action="" method="get" id="form">
		<input type="text" name='q' id="search-input" value="{{ q }}" placeholder="请输入查询内容" />
		<input type="submit" value="搜索" />
		<div class="clear"></div>
	</form>
          {% if errors %}
		<ul>
			{% for error in errors %}
			<li>
				<div class="alert alert-info">
					<a class="close" data-dismiss="alert">×</a>
					{{error}}
				</div>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
{% if not errors %}
<p class="sea-keyword">查询关键字: <strong>{{q}}</strong></p>

{% if travels %}
	<p class="sea-result">共找到 {{travels|length}} 篇游记</p>
	<ul class="result-list">
		{% for b in travels %}
		<li>
			<div class="sea-pic">
				<a href="" target="_blank"><img class="rd_lazyload" src="/site_media/{{ b.image }}" alt=""/></a>
			</div>
			<div class="sea-text">
				<h3><a href="/blog/{{b.id}}" target="_blank">{{b.title}}</a></h3>
				<p>{{b.contextinfo}}</p>
				<div class="sea-item">
					<span><a href="{% url 'search_city' city=b.city %}">{{b.city}}</a></span>
					<span>浏览({{b.count_hit}})</span>
					<span>{{b.pub_date|date:"Y年m月d日"}}</span>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
{% else %}

	<p style="color: red;"> 没有找到包含“{{q}}”的游记。 </p>
	
{%endif%}{%endif%}
</div>

</div>
{%endblock%}
