 {% extends "base.html" %}
{% block title %}游记{%endblock%}
{% block content %}
{% load pagination_tags %}

<!--main start here-->
<div class="main">
    <div class="container">
        <div class="col-md-8 nopad">
            <ul class="tour-list">
                <li class="col-md-6 tour-title">
                    <h4>游记列表</h4>
                </li>
            {% autopaginate travels 6 %}
                {% for travels in travels %}
                <li class="col-md-6">
                    <a href="/travels/{{ travels.id }}" target="_blank">
                        <img src="/site_media/{{ travels.image }}" class="img-responsive rd_lazyload" alt=""/>
                    </a>
                    <div class="tour-desc">
                        <a href="/travels/{{ travels.id }}" target="_blank">
                            <h5>{{ travels.title }}</h5>
                            <p>
                                {{ travels.contextinfo }}...
                            </p>
                        </a>
                        <div class="tour-comment">
                            <a href="{% url 'search_city' city=travels.city %}">
                                <span class="icon">
                                    <i class="fa fa-map-marker"></i>
                                    {{ travels.city|title }}
                                </span>
                            </a>
                            <div class="tour-comment-desc">
                                <a href="single.html"></a>
                                <a href="#">by
                                {{ travels.author }}
                                </a> /
                                <a href="/travels/{{ travels.id }}#comments">
                                    {% load comments %}
                                    {% get_comment_count for travels as comment_count %}
                                    {{ comment_count }}
                                    回复</a> / {{ travels.pub_date|date:'m.d, Y' }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                {% endfor %}

                <li class="clearfix"></li>
            </ul>
               	 {% paginate %}
            <ul class="dc_pagination dc_paginationB hidden">
                <li><a href="#" class="previous">加载更多</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="total-wrap">

                <div class="total-box city-total">
                    <a  class="city-icon"><i class="fa fa-paw"></i></a>
                    <p>
                        <span><a ></a></span>
                        <span class="col6">个目的地</span>
                    </p>
                    <p>尽享世界各地美景</p>
                </div>
                <div class="total-box tour-total">
                    <a href="/travels" class="city-icon"><i class="fa fa-list-alt"></i></a>
                    <p>
                        <span><a href="/travels">{{ travels|length }}</a></span>
                        <span class="col6">篇游记</span>
                    </p>
                    <p>记录精彩旅行故事</p>
                </div>

                <div class="total-box photo-total">
                    <a href="/photo" class="city-icon"><i class="fa fa-photo"></i></a>
                    <p>
                        <span><a href="/photo">{{ photos|length }}</a></span>
                        <span class="col6">篇摄影</span>
                    </p>
                    <p>留下旅途美丽瞬间</p>
                </div>
            </div>
            <div class="project-city">
                <h4 class="sider-h4">热门目的地</h4>
                <ul>
                    {% for travels in travels %}
                            <li><a href="{% url 'search_city' city=travels.city %}">{{ travels.city|title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="project-list">
                <h4 class="sider-h4">最新游记</h4>
                <ul>
                    {% for travels in travels|slice:":5" %}
                    <li>
                        <a href="/travels/{{ travels.id }}"><img src="/site_media/{{ travels.image }}" alt=""></a>
                        <p><a href="/travels/{{ travels.id }}">{{ travels.title}}</a></p>
                        <span class="likes">

                            <span>{{ travels.pub_date|date:'Y/m/d' }}  </span>
                            <a href="{% url 'search_city' city=travels.city %}" class="likes-link">
                                <i class="fa fa-map-marker"></i>
                                    {{ travels.city|title }}
                            </a>
                        </span>
                        <div class="clearfix"></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


{%endblock%}