{% extends "base.html" %} {% block title %}{{ travels.title }}{%endblock%} {% block content %}

<!--main start here-->
<div class="tour-view-header">
    <div class="tour-cover-pic active">
        <img src="/site_media/{{ travels.bigimage }}" alt=""/>
    </div>
    <div class="tour-cover-bg"></div>
    <div class="tour-cover-content">
        <div class="tour-side-toolbar">
            <a href="javascript:;" class="side-btn click-heart">
                <div class="recommend-btn">
                    <span class="side-btn-icon"><i class="fa fa-thumbs-up"></i></span>
                    <span class="side-btn-num">{{ travels.praise_num }}</span>
                    <span class="side-btn-hovertip">点赞</span>
                </div>
                <div class="fav-note">
                    <iframe src=""  height="35" frameborder="0"></iframe>
                </div>
            </a>
            <a href="javascript:;" class="side-btn click-fav">
                <div class="favourite-btn">
                    <span class="side-btn-icon"><i class="fa fa-star"></i></span>
                    <span class="side-btn-num">{{ favlistall|length }}</span>
                    <span class="side-btn-hovertip">收藏</span>
                </div>
            </a>
            <a href="#comments" class="side-btn">
                <div class="comment-btn">
                    <span class="side-btn-icon"><i class="fa fa-comments"></i></span>
                    <span class="side-btn-num">
                        {% load comments %}
                        {% get_comment_count for travels as comment_count %}
                        {{ comment_count }}
                    </span>
                    <span class="side-btn-hovertip">评论</span>
                </div>
            </a>
            <div class="side-btn" id="side-share">
                <div class="share-btn">
                    <span class="side-btn-icon"><i class="fa fa-share"></i></span>
                    <span class="side-btn-num side-share-word">分享</span>
                    <div class="share-box">
                        <div class="bshare-custom jiathis_style_32x32">
                            <a title="分享到微信" class="jiathis_button_weixin bshare-weixin"></a>
                            <a title="分享到新浪微博" class="jiathis_button_tsina bshare-sinaminiblog"></a>
                            <a title="分享到腾讯微博" class="jiathis_button_tqq bshare-qqmb"></a>
                            <a title="分享到QQ空间" class="jiathis_button_qzone bshare-qzone"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="tour-cover-head">
            <div class="cover-head-title">
                <h2>{{ travels.title }}</h2>
            </div>
            <div class="cover-user-info">
                <a href="" class="user-avatar">
                    {% for users in users %}
                    {% if users.user_id == travels.author_id %}
                    <img src="/site_media/{{ users.mugshot }}" alt=""/>
                    {% endif %}
                    {% endfor %}
                </a>
                <div class="user-info">
                    <a href="" class="uname">{{travels.author}}</a>
                    <span class="user-date">{{travels.pub_date|date:"Y-m-d H:i:s"}}</span>
                    <span class="user-view-info">
                        <span>浏览{{ travels.count_hit }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="col-md-8 nopad">
            <div class="tour-content">
                <div class="tour-total-view">
                    <ul>
                        <li class="time">
                            <span class="icon-circle"><i class="fa fa-clock-o"></i></span>
                            出发时间
                            <span>/</span>
                            {{ travels.setout_date|date:'Y-m-d' }}
                        </li>
                        <li class="day">
                            <span class="icon-circle"><i class="fa fa-calendar-o"></i></span>
                            出行天数
                            <span>/</span>
                            {% if travels.setout_days == Null %}
                            {% else %}
                                {{ travels.setout_days }}天
                            {% endif %}

                        </li>
                        <li class="people">
                            <span class="icon-circle"><i class="fa fa-user"></i></span>
                            人物
                            <span>/</span>
                            {% if travels.setout_people == Null %}
                            {% else %}
                            {{ travels.setout_people }}
                            {% endif %}
                        </li>
                        <li class="cost">
                            <span class="icon-circle"><i class="fa fa-dollar"></i></span>
                            人均费用
                            <span>/</span>
                            {% if travels.setout_cost == Null %}
                            {% else %}
                            {{ travels.setout_cost }}RMB
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="tour-article">
                    {{ travels.content|safe }}
                </div>
            </div>
            <!--comment-->
            <div class="comment-box" id="comments">
                <div class="comment-list">
                    <div class="comment-list-tit">
                        本篇文章共有
                        {% load comments %}
                        {% get_comment_count for travels as comment_count %}
                        {{ comment_count }}
                        个人回复
                    </div>
                    <ul>
                        {% load comments %}
                        {% get_comment_list for travels as comment_list %}
                        {% for comment in comment_list %}
                        <li>
                            <div class="comuser-info">
                                <div class="comuser-photo">
                                    {% for users in users %}
                                    {% if users.user_id = comment.user_id %}
                                    <a href=""><img src="/site_media/{{ users.mugshot }}" alt="{{ comment.user_name }}" /></a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="comuser-user">
                                    <a href="">{{comment.user_name}}</a>
                                </div>
                                <div class="comuser-other">{{comment.id}}F</div>
                            </div>
                            <div class="comuser-con-wrap">
                                <div class="comuser-word">
                                    <p>{{comment.comment|safe}}</p>
                                </div>
                            </div>
                            <div class="comuser-bot">
                                <div class="time">{{comment.submit_date|date:"Y-m-d H:i:s"}}</div>
                                <div class="option">
                                    <a href="">回复</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="comment-form">
                    <div class="comuser-reply">
                        <span>回复信息 <i></i></span>
                    </div>
                    {% if user.is_authenticated %}
                    {% get_comment_form for travels as form %}
                    <div class="comuser-form">
                        <div class="user-photo">
                            {% for users in users %}
                            {% if users.user_id = user.id %}
                            <a href="" title="{{ user.username }}"><img src="/site_media/{{ users.mugshot }}" alt="{{ user.username }}" /></a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="reply-form">
                            <form action="{%comment_form_target%}" method="post">
                                {%csrf_token%}
                                {{form.object_pk}}
                                {{form.content_type}}
                                {{form.timestamp}}
                                {{form.security_hash}}
                                <div class="comuser-text">
                                    <div class="face-btn">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="face-pop art-newpop">
                                        <div class="face-tab">
                                            <ul>
                                                <li class="cur">常用表情</li>
                                                <li >小恐龙</li>
                                            </ul>
                                        </div>
                                        <div class="face-icon face-icon1"><ul></ul></div>
                                        <div class="face-icon face-icon2"><ul></ul></div>
                                    </div>
                                    <div class="comuser-textarea">
                                        <textarea name="comment" id="evx" cols="30" rows="8"></textarea>
                                    </div>
                                </div>
                                <p style="display:none">
                                    <label for="id_honeypot">如果你这该字段中输入任何内容，那么你的评论就会被视为垃圾评论。</label>
                                    <input type="text" name="honeypot" id="id_honeypot">
                                </p>
                                <div class="comuser-submit">
                                    <input type="submit" name="post" value="发表回复" class="btn-submit">
                                    <input type="hidden" name="next" value="/travels/{{ travels.id }}">
                                </div>

                            </form>
                        </div>
                    </div>
                    {% else %} 请
                    <a href="/accounts/signin">登录</a>,或<a href="/accounts/signup">注册</a>后再评论
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!--pic-switc-->
            <div class="side-swap">
                <ul class="slides">
                    {% for travels in travelsall|slice:":5" %}
                    <li>
                        <a href="{% url 'search_city' city=travels.city %}" target="_blank">
                            <div class="bannerbg" style="background: url('/site_media/{{ travels.image }}') no-repeat; background-size: cover;"></div>
                            <div class="caption">
                                <h3>{{ travels.city|title }}</h3>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="side-postion_fix">
                <div class="project-related">
                    <h4 class="sider-h4">相关游记</h4>
                    <ul>
                        {% for post in travelsall %}
                        {% if post.city == travels.city %}
                        <li>
                            <i class="fa fa-star"></i>
                            <a href="/travels/{{ post.id }}">{{ post.title }}</a>
                            <p>{{ post.praise_num }}/{{ post.count_hit }}</p>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!--directory-->
                <div class="tour-directory">
                    <h4 class="sider-h4">目录</h4>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
    _run(function () {
       require(['travdetails'],function(travdetails){
           travdetails.detailDir();
           travdetails.postFix();
       })
    });
</script>

{% endblock %}

