 {% extends "base.html" %}
{% block title %}Tour travels{%endblock%}
{% block content %}
{% load pagination_tags %}

<script type="text/javascript">
function queryByKeyword(){
    $('#form').submit();
    sessionStorage.lastname = $('#search-input').val();
}
</script>
<!--container-->
<div class="rds-container">
    <div class="rds-main">
    {% autopaginate travels 2 %}
        {% for travels in travels %}
        
        <div class="news-list">
            <h2><a href="/travels/{{ travels.id }}">{{ travels.title }}</a></h2>
            <img src="/site_media/{{ travels.image }}" alt="" class="scenery-img"/>
            <div class="news-info">
                <div class="fleft">
                    <span class="address"><i class="icon iconfont">&#xe603;</i>

                        <a href="{% url 'search_city' city=travels.city %}">{{ travels.city|title }}</a>
                    </span>
					{% for users in users %}
                    {% if users.id = travels.author_id %}
                    <span class="author">by <a href="">
                    <img src="/site_media/{{ users.mugshot }}" alt=""/>
                    {% endif %}

                    {% endfor %}
                    {{ travels.author }}</a></span>
                    <span class="views"><i class="icon iconfont">&#xe605;</i>
                    {{ travels.count_hit }}</span>
                </div>
                <div class="fright comments">
                    <i class="icon iconfont">&#xe600;</i>
                    {% load comments %}
                    {% get_comment_count for travels as comment_count %}
                    {{ comment_count }}
                
                </div>
            </div>
            <div class="brief">
                {{ travels.contextinfo }}...
            </div>
            <div class="news-more">
                <a href="/travels/{{ travels.id }}">更多详情>></a>
            </div>
        </div>
           
         {% endfor %}
        <div class="col-md-12">
               	 {% paginate %}
            	</div>
    </div>
    <div class="siderbar">
        <div class="sider-search">
            <div class="search-input">
            {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
                <form action="../search/" method="get" id="form">
                    <input type="text" name="q" id="search-input" class="m-search" placeholder="搜索关键字"/>
                    <a  onclick="queryByKeyword()"><i class="icon iconfont">&#xe604;</i></a>
                </form>
            </div>
        </div>
        <div class="lately-news">
            <div class="sider-title">
                最新游记
            </div>
            <ul>
            {% for travels in travels|slice:":3" %}
                <li>
                    <a href="/travels/{{ travels.id }}">
                        <img src="/site_media/{{ travels.image }}" alt=""/>
                        <p>{{ travels.title|slice:":52" }}...</p>
                    </a>
                </li>
               {% endfor %}
            </ul>
        </div>
        <div class="comment-list">
            <div class="sider-title">
                最新评论
            </div>
            <ul>
            {% for travels in travels %}
            {% load comments %} 
            {% get_comment_list for travels as comment_list %}
            {% for comment in comment_list|slice:":3" %}
                <li>
                {% for users in users %}
                    {% if users.id = comment.user_id %}
                    <a href="">
                        <img src="/site_media/{{ users.mugshot }}" alt="{{comment.user_name}}"/>
                        <div class="comments-text">
                            <h2>{{comment.user_name}}</h2>
                         {% endif %}
                    {% endfor %} 
                            <p>{{comment.comment}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="hot-tags">
            <div class="sider-title">
                热门标签
            </div>
            <div class="tags-list">
                <a href="">互联网</a>
                <a href="">移动端</a>
                <a href="">大数据</a>
                <a href="">云计算</a>
                <a href="">阿里云</a>
            </div>
        </div>
    </div>

</div>

  
{%endblock%}
