{% extends "base.html" %} {% block title %}{{ travels.title }}{%endblock%} {% block content %}

<!--main start here-->
<div class="tour-view-header">
    <div class="tour-cover-pic active">
        <img src="/site_media/{{ travels.bigimage }}" alt=""/>
    </div>
    <div class="tour-cover-bg"></div>
    <div class="tour-cover-content">
        <div class="tour-side-toolbar">
            <a href="" class="side-btn">
                <div class="recommend-btn">
                    <span class="side-btn-icon"><i class="fa fa-thumbs-up"></i></span>
                    <span class="side-btn-num">22</span>
                    <span class="side-btn-hovertip">推荐</span>
                </div>
            </a>
            <a href="" class="side-btn">
                <div class="favourite-btn">
                    <span class="side-btn-icon"><i class="fa fa-star"></i></span>
                    <span class="side-btn-num">22</span>
                    <span class="side-btn-hovertip">收藏</span>
                </div>
            </a>
            <a href="" class="side-btn">
                <div class="comment-btn">
                    <span class="side-btn-icon"><i class="fa fa-comments"></i></span>
                    <span class="side-btn-num">22</span>
                    <span class="side-btn-hovertip">评论</span>
                </div>
            </a>
            <div class="side-btn" id="side-share">
                <div class="share-btn">
                    <span class="side-btn-icon"><i class="fa fa-share"></i></span>
                    <span class="side-btn-num side-share-word">分享</span>
                    <div class="share-box">
                        <div class="bshare-custom">
                            <a title="分享到微信" class="bshare-weixin"></a>
                            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                            <a title="分享到QQ空间" class="bshare-qzone"></a>
                        </div>
                        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="tour-cover-head">
            <div class="cover-head-title">
                <h2>{{ travels.title }}</h2>
            </div>
            <div class="cover-user-info">
                <a href="" class="user-avatar">
                    {% for users in users %}
                    {% if users.user_id == travels.author_id %}
                    <img src="/site_media/{{ users.mugshot }}" alt=""/>
                    {% endif %}
                    {% endfor %}
                </a>
                <div class="user-info">
                    <a href="" class="uname">{{travels.author}}</a>
                    <span class="user-date">{{travels.pub_date|date:"Y-m-d H:i:s"}}</span>
                    <span class="user-view-info">
                        <span>查看{{ travels.count_hit }}</span>|
                        <span>回复34</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="col-md-8 nopad">
            <div class="tour-content">
                <div class="tour-total-view">
                    <ul>
                        <li class="time">
                            <span class="icon-circle"><i class="fa fa-clock-o"></i></span>
                            出发时间
                            <span>/</span>
                            2016-06-03
                        </li>
                        <li class="day">
                            <span class="icon-circle"><i class="fa fa-calendar-o"></i></span>
                            出行天数
                            <span>/</span>
                            8天
                        </li>
                        <li class="people">
                            <span class="icon-circle"><i class="fa fa-user"></i></span>
                            人物
                            <span>/</span>
                            小两口
                        </li>
                        <li class="cost">
                            <span class="icon-circle"><i class="fa fa-dollar"></i></span>
                            人均费用
                            <span>/</span>
                            20000RMB
                        </li>
                    </ul>
                </div>
                <div class="tour-article">
                    {{ travels.content|safe }}
                </div>
            </div>
            <!--comment-->
            <div class="comment-box">
                <div class="comment-list">
                    <div class="comment-list-tit">
                        本篇文章共有22个人回复
                    </div>
                    <ul>
                        <li>
                            <div class="comuser-info">
                                <div class="comuser-photo">
                                    <a href=""><img src="images/avaster.jpg" alt=""/></a>
                                </div>
                                <div class="comuser-user">
                                    <a href="">Lukyle</a>
                                </div>
                                <div class="comuser-other">1F</div>
                            </div>
                            <div class="comuser-con-wrap">
                                <div class="comuser-word">
                                    <p>先收藏，准备今年11月中旬去新西兰呢</p>
                                </div>
                            </div>
                            <div class="comuser-bot">
                                <div class="time">2016-03-11 16:22</div>
                                <div class="option">
                                    <a href="">回复</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comuser-info">
                                <div class="comuser-photo">
                                    <a href=""><img src="images/avaster.jpg" alt=""/></a>
                                </div>
                                <div class="comuser-user">
                                    <a href="">Lukyle</a>
                                </div>
                                <div class="comuser-other">1F</div>
                            </div>
                            <div class="comuser-con-wrap">
                                <div class="comuser-word">
                                    <p>先收藏，准备今年11月中旬去新西兰呢</p>
                                </div>
                            </div>
                            <div class="comuser-bot">
                                <div class="time">2016-03-11 16:22</div>
                                <div class="option">
                                    <a href="">回复</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comuser-info">
                                <div class="comuser-photo">
                                    <a href=""><img src="images/avaster.jpg" alt=""/></a>
                                </div>
                                <div class="comuser-user">
                                    <a href="">Lukyle</a>
                                </div>
                                <div class="comuser-other">1F</div>
                            </div>
                            <div class="comuser-con-wrap">
                                <div class="comuser-word">
                                    <p>先收藏，准备今年11月中旬去新西兰呢</p>
                                </div>
                            </div>
                            <div class="comuser-bot">
                                <div class="time">2016-03-11 16:22</div>
                                <div class="option">
                                    <a href="">回复</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="comment-form">
                    <div class="comuser-reply">
                        <span>回复信息 <i></i></span>
                    </div>
                    <div class="comuser-form">
                        <div class="user-photo">
                            <a href=""><img src="images/avaster.jpg" alt=""/></a>
                        </div>
                        <div class="reply-form">
                            <form action="" method="post">
                                <div class="comuser-text">
                                    <div class="face-btn">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="face-pop art-newpop">
                                        <div class="face-tab">
                                            <ul>
                                                <li class="cur">常用表情</li>
                                                <li >小恐龙</li>
                                            </ul>
                                        </div>
                                        <div class="face-icon face-icon1"><ul></ul></div>
                                        <div class="face-icon face-icon2"><ul></ul></div>
                                    </div>
                                    <div class="comuser-textarea">
                                        <textarea name="comment" id="evx" cols="30" rows="8"></textarea>
                                    </div>
                                </div>
                                <div class="comuser-submit">
                                    <input type="submit" name="post" value="发表回复" class="btn-submit">
                                    <input type="hidden" name="next" value="/travels/{{ travels.id }}">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!--pic-switc-->
            <div class="side-swap">
                <ul class="slides">
                    <li>
                        <a href="">
                            <div class="bannerbg" style="background: url('images/jpg-11.jpeg') no-repeat; background-size: cover;"></div>
                            <div class="caption">
                                <h3>南京</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="bannerbg" style="background: url('images/jpg-22.jpeg') no-repeat; background-size: cover;"></div>
                            <div class="caption">
                                <h3>上海</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="bannerbg" style="background: url('images/b3.jpg') no-repeat; background-size: cover;"></div>
                            <div class="caption">
                                <h3>杭州</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="side-postion_fix">
                <div class="project-related">
                    <h4 class="sider-h4">相关新闻</h4>
                    <ul>
                        <li>
                            <i class="fa fa-star"></i>
                            <a href="#">高房价和工会经费合计金凤凰酒店风华绝代规划</a>
                            <p>32234/212</p>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                            <a href="#">高房价和工会经费合计金凤凰酒店风华绝代规划</a>
                            <p>32234/212</p>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                            <a href="#">高房价和工会经费合计金凤凰酒店风华绝代规划</a>
                            <p>32234/212</p>
                        </li>
                    </ul>
                </div>
                <!--directory-->
                <div class="tour-directory">
                    <h4 class="sider-h4">目录</h4>
                    <ul>
                        <li>
                            <span class="direct-num">01/</span>
                            <a href="">封面故事</a>
                        </li>
                        <li>
                            <span class="direct-num">02/</span>
                            <a href="">预告片</a>
                        </li>
                        <li>
                            <span class="direct-num">03/</span>
                            <a href="">准备工作</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!--script-->

<script>
    $(function() {
        $(".side-swap").flexslider({
            animation:'fade',
            slideshowSpeed:'3000',
            pauseOnHover:'false',
            directionNav: false,
            controlNav: false,
        });
    });
    $(function(){
        var sidelemt = $(".side-postion_fix"); //得到导航对象
        var win = $(window); //得到窗口对象
        win.scroll(function () {
            var ofsethei = sidelemt.offset().top-win.scrollTop();
            var sidswhei = $('.side-swap').offset().top-win.scrollTop();
            var foothei = $('.footer').offset().top-win.scrollTop();
            if(ofsethei <=10){
                sidelemt.addClass('rds-side_fix');
            }
            if(sidswhei >= -250){
                sidelemt.removeClass('rds-side_fix');
            }
            if(foothei <= 150){
                sidelemt.removeClass('rds-side_fix');
            }
        })
    })

</script>
{% endblock %}