
 {% if items %}
 {% for item in items %}
 <div class="item photobox">
        <div class="info">
            <div class="pic"><a href="/photo/{{ item.id }}" target="_blank"><img src="/site_media/{{item.photo}}" width="280" ></a></div>
            <div class="title"><a href="/photo/{{ item.id }}" target="_blank">{{ item.title }}</a></div>
            <div class="canvo">
            {% for users in users %}
                    {% if users.user_id = item.user_id %}
                <a href="">
                    <img src="/site_media/{{ users.mugshot }}" alt=""/>
                    <div class="text">{{users.user}}</div>
                </a>
                    {% endif %}
                    {% endfor %}
                <div class="fright">
                    <div class="views"><i class="icon iconfont">&#xe605;</i><span>{{ item.count_hit }}</span></div>
                    <div class="comments">
                        <a href=""><i class="icon iconfont">&#xe600;</i>
                            <span>{% load comments %}
                    {% get_comment_count for item as comment_count %}
                    {{ comment_count }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endfor %}
 {% endif %}





