 {% extends "base.html" %}
{% block title %}Tour Blog{%endblock%}
{% block content %}

<div class="pic-views" >
    <div class="single-header">
    {% for users in users %}
                    {% if users.user_id = photos.user_id %}
        <div class="single-meta">
            <a href="" class="author-avatar"><img src="/site_media/{{ users.mugshot }}" alt=""/></a>
            <h1>{{ photos.title }}</h1>
            <p class="info">{{users.user}}</p>
        </div>
        <div class="data-meta">
            <p class="click-num">{{ photos.praise_num }}</p>
            <p>
                {% load comments %}
                {% get_comment_list for photos as comment_list %}
                {% for comment in comment_list %}
                <span class="author">
                    <a href="">{{comment.user}}</a>发表于
                    {{ comment.submit_date|date:"Y-m-j" }}
                </span>
                {% endfor %}
                <span class="comments-link">
                    <a href="">
                    {% get_comment_count for photos as comment_count %}
                    {{ comment_count }}条评论</a>
                </span>
            </p>
        </div>
         {% endif %}
                    {% endfor %}
    </div>
    <div class="single-content">
        <img src="/site_media/{{photos.photo}}" alt="">
        {{photos.photointro|safe}}
    </div>
    <div class="single-footer">
        <div class="single-heart">
            <a >喜欢({{ photos.praise_num }})</a>
            <div class="loading-line"></div>
        </div>
        <div class="tag-share">
            <div class="tag-links">
                <span>标签</span>
                <a href="">标签阿紫</a>
                <a href="">标签阿紫</a>
            </div>
            <div class="share fright">
                <div class="bdsharebuttonbox bdshare-button-style1-24" data-bd-bind="1455518564188">
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                </div>
            </div>
        </div>
    </div>
  <!--评论-->
 <div class="comments">
 <div class="comment-tit">
            关于照片,看看大家怎么说~
        </div>
            {% load comments %}
            {% get_comment_list for photos as comment_list %}
            {% for comment in comment_list %}
            <div class="com-list">
                <div class="author-info">
                    <div class="author-pic">
                    {% for users in users %}
                    {% if users.user_id = comment.user_id %}
                    <img src="/site_media/{{ users.mugshot }}" alt="{{ comment.user_name }}" />
                    {% endif %}
                    {% endfor %}

                    </div>
                    <span class="author-name"><a href="">{{comment.user_name}}</a></span>
                    <span class="date">{{comment.submit_date}}</span>
                </div>
                <div class="com-content">
                    {{comment.comment|safe}}
                </div>
            </div>
            {%endfor%}


            <div class="com-textar">
            {% if user.is_authenticated %}
            {% get_comment_form for photos as form %}
            <form action="{%comment_form_target%}" method="post">
                {%csrf_token%}
                {{form.object_pk}}
                 {{form.content_type}}
                 {{form.timestamp}}
                 {{form.security_hash}}
                <div class="avatar">
                    <a href="" title="{{ user.username }}">
                    {% for users in users %}
                    {% if users.user_id = user.id %}
                    <img src="/site_media/{{ users.mugshot }}" alt="{{ user.username }}" />
                    {% endif %}
                    {% endfor %}
                    </a>
                </div>
                <div class="com-text">
                    <h2>回复内容</h2>
                    <div class="face-btn">
                        <img src="/static/images/face-icon.png" alt=""/>
                    </div>
                    <div class="face-pop art-newpop">
                        <div class="face-tab">
                            <ul>
                                <li class="cur">常用表情</li>
                                <li >小恐龙</li>
                            </ul>
                        </div>
                        <div class="face-icon face-icon1"><ul></ul></div>
                        <div class="face-icon face-icon2"><ul></ul></div>
                    </div>
                    <div class="com-box">
                        <textarea name="comment" id="evx" cols="30" rows="8"></textarea>
                    </div>
                </div>
                <p style="display:none">
                    <label for="id_honeypot">如果你这该字段中输入任何内容，那么你的评论就会被视为垃圾评论。</label>
                    <input type="text" name="honeypot" id="id_honeypot">
                </p>
                <input type="submit" name="post" value="发表回复" class="com-submit">
                <input type="hidden" name="next" value="/photo/{{ photos.id }}">
            </form>
            {% else %} 请
            <a href="/accounts/signin">登录</a>,或<a href="/accounts/signup">注册</a>后再评论 {% endif %}
            </div>
        </div>
</div>
<div class="fav-note">
     <iframe src=""  height="35" frameborder="0"></iframe>
 </div>
    <!--script-->

    <script>
    $(function () {
   $('.single-heart a').click(function () {
       $('.fav-note').show() ;
       url = "/like_photo/"+{{ photos.id }};
       $('.fav-note iframe').attr('src',url);
       setTimeout(function () {
           $('.fav-note').hide();
       },2000);

   })


})
    </script>

    <script>
    $(document).ready(function(e) {
        $('.face-icon1').show();
        $('.face-tab li').each(function () {
            $(this).click(function (e) {
                $(this).addClass('cur').siblings().removeClass('cur');
                num = $(this).index();
                $('.face-icon'+(num+1)).show().siblings('.face-icon').hide();
                e.stopPropagation();
            })
        })
        $('.face-btn img').click(function (e) {
            $('.face-pop').show();
            e.stopPropagation();
        })
        $(document).click(function () {
            $('.face-pop').hide();
        })

        $.ajax( {
            type: "post",
            dataType : 'json',
            url : '/static/js/emotions.json',
            success : function(data) {
                var legth = data.konglong.length;
                var legth2 = data.changy.length;
                for(var i = 0;i<legth;i++){
                    $('.face-icon2 ul').append('<li title="'+ data.konglong[i].title +'"><img src="' + data.konglong[i].imgurl + '" /></li>')
                }
                for(var i = 0;i<legth2;i++){
                    $('.face-icon1 ul').append('<li title="'+ data.changy[i].title +'"><img src="' + data.changy[i].imgurl + '" /></li>')
                }
                $('.face-icon ul li').each(function () {
                    $(this).click(function () {
                        var areaval = $('.com-box textarea').val();
                        var valText = areaval + '('+$(this).attr('title')+')';
                        $('.com-box textarea').val(valText).focus();
                        $('.face-pop').hide();
                    })
                })
            }
        });

        //提交
        $('.com-submit').click(function () {
            var areaval = $('.com-box textarea').val();
            $('.com-box textarea').val(replace_em(areaval));
            //console.log(replace_em(areaval));
        })
    });

    function replace_em(str){
        var areaval = $('.com-box textarea').val();
        pattern =new RegExp("\\((.| )+?\\)","igm");
        textarr = areaval.match(pattern);
        areaval = areaval.replace(/\</g,'&lt;');
        areaval = areaval.replace(/\>/g,'&gt;');
        areaval = areaval.replace(/\n/g,'<br/>');
        areaval = areaval.replace(/\(/g,'');
        areaval = areaval.replace(/\)/g,'');
        if(textarr){
            for(var i=0;i<textarr.length;i++){
                item = textarr[i].split(/[()]/)[1];
                console.log(item);
                var llist = $('.face-icon ul li');
                for(var n=0;n<llist.length;n++){
                    if(item == llist.eq(n).attr('title')){
                        newstr = llist.eq(n).html();
                    }
                }
                areaval = areaval.replace(item,newstr);
            }
            str = areaval;
            return str;
        }
        else{
            return str;
        }

    }

</script>
{% endblock %}