{% extends "base.html" %}
{% block title %}Tour Blog{%endblock%}
{% block content %}

<!--main start here-->
<div class="main">
    <div class="po-userinfo">
        {% for users in users %}
        {% if users.user_id == photos.user_id %}
        <a href=""><img src="/site_media/{{ users.mugshot }}" alt=""/></a>
        <h1><a>{{ photos.title }}</a></h1>
        <p>
            <a href="">{{users.user}}</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ photos.pubdate|date:"Y-m-j" }}
        </p>
        {% endif %}
        {% endfor %}
        <div class="po-funcitem">
            <a href="javascript:;" class="click-heart"><i class="fa fa-thumbs-up"></i><span>{{ photos.praise_num }}</span></a>
            <div class="topshare" id="side-share">
                <i class="fa fa-share"></i><span>分享</span>
                <div class="share-box">
                    <div class="bshare-custom">
                        <a title="分享到微信" class="bshare-weixin"></a>
                        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                        <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                    </div>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                </div>
            </div>
            <a href="javascript:;" class="topcomment">
                {% load comments %}
                {% get_comment_count for photos as comment_count %}
                <i class="fa fa-comments"></i><span>{{ comment_count }}</span>
            </a>
        </div>
    </div>
    <div class="po-details ">
        {{photos.photointro|safe}}
        <div class="po-tags">
            <span><i class="fa fa-tags"></i>标签</span>
            {% if photos.tag == Null %}
            {% else %}
            <a  rel="tag">{{ photos.tag }}</a>
            {% endif %}
        </div>
    </div>

    <div class="po-related">
        <h4 class="sider-h4">最新摄影</h4>
        <ul>
            {% for photos in photoAll %}
            <li>
                <div class="item">
                    <div class="item-pic">
                        <a href="/photo/{{ photos.id }}" title="{{ photos.title }}" target="_blank">
                            <img width="280" height="180" alt="{{ photos.title }}" src="/site_media/{{photos.photo}}" ></a>
                    </div>
                    <a class="item-post-title" href="" title="{{ photos.title }}">{{ photos.title }}</a>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>

</div>
<!--pocomment-->
<div class="po-commentbox">
    <i class="fa fa-close"></i>
    <h4>评论</h4>
    <div class="po-comments">
        <ul>
            {% load comments %}
            {% get_comment_list for photos as comment_list %}
            {% for comment in comment_list %}
            <li>
                {% for users in users %}
                {% if users.user_id == comment.user_id %}
                <div class="pocomimg"><a href=""><img src="/site_media/{{ users.mugshot }}" alt="{{ comment.user_name }}"/></a></div>
                <div class="pocominfo">
                    <a href="">{{ comment.user_name }}</a>
                    {{comment.submit_date|date:"Y-m-d H:i:s"}}
                </div>
                {% endif %}
                {% endfor %}
                <div class="pocomtext">
                    {{comment.comment|safe}}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="po-comment-form">
        {% if user.is_authenticated %}
        {% get_comment_form for photos as form %}
        <form action="{%comment_form_target%}" method="post">
            {%csrf_token%}
                {{form.object_pk}}
                 {{form.content_type}}
                 {{form.timestamp}}
                 {{form.security_hash}}
            <div class="pocomform ">
            <div class="face-btn">
                <i class="fa fa-smile-o"></i>
            </div>
            <textarea placeholder="评论..." name="comment" id="evx" class="po-reply_tar"></textarea>
            <div class="face-pop art-newpop">
                <div class="face-tab">
                    <ul>
                        <li class="cur">常用表情</li>
                        <li >小恐龙</li>
                    </ul>
                </div>
                <div class="face-icon face-icon1"><ul></ul></div>
                <div class="face-icon face-icon2"><ul></ul></div>
            </div>
        </div>
            <p style="display:none">
                    <label for="id_honeypot">如果你这该字段中输入任何内容，那么你的评论就会被视为垃圾评论。</label>
                    <input type="text" name="honeypot" id="id_honeypot">
            </p>
            <input type="submit" name="post" value="发表" class="po-publish">
            <input type="hidden" name="next" value="/photo/{{ photos.id }}">
        </form>
        {% else %} 请
            <a href="/accounts/signin">登录</a>,或<a href="/accounts/signup">注册</a>后再评论
        {% endif %}
    </div>
</div>
    <div class="fav-note">
       <iframe src=""  height="35" frameborder="0"></iframe>
    </div>
    <script>
        $(function () {
            //dianzan
            $('.click-heart').click(function () {
                $('.fav-note').show();
                var url = "/like_photo/"+{{ photos.id }};
                $('.fav-note iframe').attr('src',url);
                setTimeout(function () {
                    $('.fav-note').hide();
                    $('.fav-note iframe').attr('src','');
                },2000);
            })
        })
    </script>
{% endblock %}
