<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>document</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="/static/css/account-user.css">

    <script src="js/jquery-1.8.3.min.js"></script>


</head>
<body>

<div class="favlist">
    <ul>
        {% for list in list %}
        <li class="favpost-item">
            <a href="" class="delpost hide" title="删除"></a>
            <div class="pic"><img src="images/big-pic03.jpg" alt=""/></div>
            <div class="favcontent">
                <h2><a href="">{{ list.title }}</a></h2>
                <div class="favpost-intro">
                    <div class="author">
                        <a href=""><img src="images/jpg-6.jpg" alt=""/></a>
                        作者
                        <a href="">雄踞网</a>
                    </div>
                    <div class="view">222</div>
                </div>
                <div class="favpost-info">
                    没有规矩不成方圆,员工管理制度设计请按这三
                    条标尺线来没有规矩不成方圆,员工管理制度设计请按这三条标尺线来
                    没有规矩不成方圆,员工管理制度设计请按这三
                    条标尺线来没有规矩不成方圆,员工管理制度设计请按这三条标尺线来按这三条标尺线来
                </div>
            </div>
        </li>
        {% endfor %}
        <li class="favpost-item">
            <a href="" class="delpost hide" title="删除"></a>
            <div class="pic"><img src="images/big-pic03.jpg" alt=""/></div>
            <div class="favcontent">
                <h2><a href="">各级雇员薪酬都高中国失去劳动力成本竞争优势</a></h2>
                <div class="favpost-intro">
                    <div class="author">
                        <a href=""><img src="images/jpg-6.jpg" alt=""/></a>
                        作者
                        <a href="">雄踞网</a>
                    </div>
                    <div class="view">222</div>
                </div>
                <div class="favpost-info">
                    没有规矩不成方圆,员工管理制度设计请按这三
                    条标尺线来没有规矩不成方圆,员工管理制度设计请按这三条标尺线来
                    没有规矩不成方圆,员工管理制度设计请按这三
                    条标尺线来没有规矩不成方圆,员工管理制度设计请按这三条标尺线来按这三条标尺线来
                </div>
            </div>
        </li>
        <li class="favpost-item">
            <a href="" class="delpost hide" title="删除"></a>
            <div class="pic"><img src="images/big-pic03.jpg" alt=""/></div>
            <div class="favcontent">
                <h2><a href="">各级雇员薪酬都高中国失去劳动力成本竞争优势</a></h2>
                <div class="favpost-intro">
                    <div class="author">
                        <a href=""><img src="images/jpg-6.jpg" alt=""/></a>
                        作者
                        <a href="">雄踞网</a>
                    </div>
                    <div class="view">222</div>
                </div>
                <div class="favpost-info">
                    没有规矩不成方圆,员工管理制度设计请按这三
                    条标尺线来没有规矩不成方圆,员工管理制度设计请按这三条标尺线来
                    没有规矩不成方圆,员工管理制度设计请按这三
                    条标尺线来没有规矩不成方圆,员工管理制度设计请按这三条标尺线来按这三条标尺线来
                </div>
            </div>
        </li>
    </ul>
</div>
<script>
    $(function () {
        $('.favpost-item').hover(function () {
            $(this).find('.delpost').removeClass('hide');
        }, function () {
            $(this).find('.delpost').addClass('hide');
        })
    })
</script>
</body>
</html>