{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}

<div class="main ">
  <div class="container">
    <div class="col-md-3">
      {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
      <div class="ac-setting_list">
        {% block profile_navigation_items %}
        <a href="{% url 'userena_profile_detail' user.username %}" class="on"><i class="fa fa-user"></i>个人中心</a>
        <a href="{% url 'userena_profile_edit' user.username %}" ><i class="fa fa-user-plus"></i>信息修改</a>
        <a href="{% url 'userena_password_change' user.username %}"><i class="fa fa-get-pocket"></i>{% trans "Change password" %}</a>
        <a href="{% url 'userena_email_change' user.username %}"><i class="fa fa-envelope"></i>{% trans "Change email" %}</a>
        <a href="{% url 'list' user.username %}"><i class="fa fa-list-ul"></i>游记列表</a>
        <a href="{% url 'add'  %}"><i class="fa fa-plus"></i>新增游记</a>
        <a href="{% url 'favourite_list' user.username %}"><i class="fa fa-star-o"></i>游记收藏</a>
        {% endblock %}
      </div>
      {% endif %}
      {% endblock %}
    </div>
    <div class="col-md-9">
      <div class="ac-setting_right">
        <div class="ac-hd">
          <strong>我的信息</strong>
        </div>
        <!--ac-userinfo-->
        <div class="ac-userinfo profile-detail">
          {% block profile_details %}
          <dl class="clearfix">
            <img class="mugshot" src="/{{ profile.get_mugshot_url }}" alt="{% trans 'Your mugshot' %}" />
          </dl>
          {% block profile_definition_list %}
              <dl class="clearfix">
                {% if profile.nickname %}
                <dt>昵称：</dt>
                <dd>
                  <span class="form-text">{{ profile.nickname }}</span>
                </dd>
                {% endif %}
              </dl>
              <dl class="clearfix">
                {% if profile.sex %}
                <dt>性别：</dt>
                <dd>
                  {% if profile.sex == 'M' %}
                  <span class="form-text">男</span>
                  {% else %}
                  <span class="form-text">女</span>
                  {% endif %}
                </dd>
                {% endif %}
              </dl>
              <dl class="clearfix">
                {% if profile.live_city %}
                <dt>居住城市：</dt>
                <dd>
                  <span class="form-text">{{ profile.live_city }}</span>
                </dd>
                {% endif %}
              </dl>
              <dl class="clearfix">
                {% if profile.privacy %}
                <dt>隐私设定：</dt>
                <dd>
                  {% if profile.privacy == 'open' %}
                  <span class="form-text">所有人可见</span>
                  {% elif profile.privacy == 'registered'  %}
                  <span class="form-text">注册用户可见</span>
                  {% elif profile.privacy == 'closed'  %}
                  <span class="form-text">任何人不可见</span>
                  {% endif %}
                </dd>
                {% endif %}
              </dl>
              <dl class="clearfix">
                {% if profile.personal_brief %}
                <dt>个人简介：</dt>
                <dd>
                  <span class="form-text">{{ profile.personal_brief }}</span>
                </dd>
                {% endif %}
              </dl>

          {% endblock %}
          {% endblock %}
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>


{% endblock %}
