<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,user-scalable=yes"/>
  <meta name="Keywords" content="路人游,旅游游记,旅游摄影,rdstour">
  <meta name="description" content="记录旅游路上的见闻,美丽摄影,记下每一次出门,每一次路上的旅行。">
  <title>路人游</title>
  <link rel="Shortcut Icon" href="/static/images/logo_net_321.png">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/css/rs-account.css"/>
  <link rel="stylesheet" href="/static/css/rs-index.css"/>
</head>

<body>
{% load i18n %}
{% load url from future %}



<!--account start here-->
<div id="login_bg" class ="login_bg" style="background-image:url(/static/images/signin_bg.jpg);"></div>

<div class="sign-main">
  <div class="sign_forms" >
    <form class="sign_form_form" id="sign_form" method="post" action="">
      {% csrf_token %}
      <div  class="sign_forms_container">
        <div class="form_header">
          <h1 class="sign-title"><span>{% trans "Signin" %}</span></h1>
        </div>
        <div class="sign_account" >
          {{ form.non_field_errors }}
          {% for field in form %}
          {{ field.errors }}
          {% comment %} Displaying checkboxes differently {% endcomment %}
          {% if field.name == 'remember_me' %}
          <div class="form_forget">
                        <span class="tip_checkbox">
                            {{ field }}
                            <label for="id_{{ field.name }}">
                              <i class="fa fa-square-o"></i>
                              {{ field.label }}
                            </label>
                        </span>
            <a href="{% url 'userena_password_reset' %}" class="forget_link" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
          </div>
          {% elif field.name == 'identification' %}
          <div class="form_user">
            <i class="fa fa-user">&nbsp;&nbsp;|</i>
            {{ field }}
          </div>
          {% else %}
          <div class="form_password">
            <i class="fa fa-lock">&nbsp;&nbsp;|</i>
            {{ field }}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <input type="submit" class="form_submit" value="{% trans 'Signin' %}" />
      {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </form>
  </div>
</div>
<div class="sign-footer">
  <div class="footer_sign_link">
    <a class="sign_link" href="/accounts/signup">注&nbsp;册</a>
    <a href="/index" target="_blank" class="h_link">首页</a>
    <a href="/about" target="_blank" class="h_link">关于</a>
  </div>
  <div class="design_show">
    <div class="designer_info">
      Copyright &copy; 2015-2016 Powered by <a href="/index">路人游</a>
    </div>
  </div>
</div>
<!--script-->
<script src="/static/js/jquery-v1.10.2.js"></script>

<script>
  $(function () {
    $('input[name="identification"]').attr('placeholder','请输入电子邮件或者用户名~');
    $('input[name="password"]').attr('placeholder','密码~')
  })
</script>
</body>
</html>
