{% extends 'userena/base_userena.html' %} {% load i18n %} {% load url from future %} {% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %} {% block content_title %}
<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}
{% block content %}
{% load pagination_tags %}
<!--main start here-->
<div class="main ">
    <div class="container">
        <div class="col-md-3">
            {% block profile_navigation %}
            {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
            <div class="ac-setting_list">
                {% block profile_navigation_items %}
                <a href="{% url 'userena_profile_detail' user.username %}" ><i class="fa fa-user"></i>个人中心</a>
                <a href="{% url 'userena_profile_edit' user.username %}" ><i class="fa fa-user-plus"></i>信息修改</a>
                <a href="{% url 'userena_password_change' user.username %}"><i class="fa fa-get-pocket"></i>{% trans "Change password" %}</a>
                <a href="{% url 'userena_email_change' user.username %}"><i class="fa fa-envelope"></i>{% trans "Change email" %}</a>
                <a href="{% url 'list' user.username %}" class="on"><i class="fa fa-list-ul"></i>游记列表</a>
                <a href="{% url 'add'  %}"><i class="fa fa-plus"></i>新增游记</a>
                <a href="{% url 'favourite_list' user.username %}"><i class="fa fa-star-o"></i>游记收藏</a>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        <div class="col-md-9">
            <div class="ac-setting_right">
                <div class="ac-hd">
                    <strong>我的信息</strong>
                </div>
                <!--postlist-->
                <div class="ac-postlist ">
                    <ul>
                        {% if list %}
                        {% autopaginate list 5 %}
                        {%for blog in list%}
                        <li class="list-item">
                            <div class="layout-column">
                                <div class="title">
                                    <a href="/travels/{{ blog.id }}" target="_blank">
                                        {{blog.title}}
                                    </a>
                                </div>
                                <div class="data-info">
                                    <ul>
                                        <li >阅读 <span >{{blog.count_hit}}</span></li>
                                        <li >·评论 <span >
                                            {% load comments %}
                                            {% get_comment_count for blog as comment_count %}
                                            {{ comment_count }}
                                        </span></li>
                                        <li >·赞 <span >{{blog.praise_num}}</span></li>
                                        <li >·收藏 <span >22</span></li>
                                        <li>·(<span >
                                            <a href="/updatetra/{{ blog.id }}" title="编辑">编辑</a>
                                            </span>&nbsp;|&nbsp;
                                            <span >
                                                <a href="/deletetra/{{ blog.id }}" title="删除">删除</a>
                                            </span>)
                                        </li>
                                    </ul>
                                </div>
                                <div class="time">
                                    {{blog.pub_date|date:"Y/m/d"}} 发布
                                </div>
                            </div>
                        </li>
                        {%endfor%}
                        {% endif %}
                    </ul>
                    {% paginate %}
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
