{% extends 'userena/base_userena.html' %} {% load i18n %} {% load url from future %} {% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %} {% block content_title %}
<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %} {% block content %}
<link rel="stylesheet" href="/static/css/account-user.css" />
<div class="rds-container">
    <div class="account-left">
        <div class="my-title">
            <img src="../../static/images/person-img.jpg" alt="" /> 我的文章
        </div>
        {% if list %} {%for blog in list%}
        <div class="tra-list">
            <h4>
        <a href="/travels/{{ blog.id }}" target="_blank" class="link-grey">
            <span class="date">
                <i>{{blog.pub_date|date:"j"}}</i>/&nbsp;{{blog.pub_date|date:"n月/Y"}}
            </span>
            {{blog.title}}
        </a>
    </h4>
            <div class="fix-item">
                <a href="/updatetra/{{ blog.id }}" title="修改"><i class="icon iconfont">&#xe60d;</i></a>
                <a href="/deletetra/{{ blog.id }}" title="删除"><i class="icon iconfont">&#xe60c;</i></a>
            </div>
        </div>
        {%endfor%} {% endif %}
    </div>
    <div class="account-right">
        {% block profile_navigation %} {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
        <ul id="box-nav">
            {% block profile_navigation_items %}
            <li><i class="icon iconfont">&#xe602;</i><a href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a></li>
            <li><i class="icon iconfont">&#xe602;</i><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></li>
            <li><i class="icon iconfont">&#xe602;</i><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
            <li><i class="icon iconfont">&#xe602;</i><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
            <li><i class="icon iconfont">&#xe602;</i><a href="{% url 'add' %}">add post</a></li>
            <li><i class="icon iconfont">&#xe602;</i><a href="{% url 'list' user.username %}">list</a></li>
            {% endblock %}
        </ul>
        {% endblock %}
    </div>
</div>
<script>
$(function() {
    $('.tra-list').hover(function() {
        $(this).find('.fix-item').show();
    }, function() {
        $(this).find('.fix-item').hide();
    })
})
</script>
{% endblock %}
